@charset "utf-8";
/* CSS Document */
/* Containers */
body {
    background: #fff;
    font-family: Arial;
    font-size: 0.9em;
}
p {
	max-width: 70%;
    font-family: Arial;
    font-size: 1em;
    padding: 2px;
	line-height: 1.5em;
	word-spacing: 2px;
	text-align: justify;
}
#container, footer {
    background:#fff;
    width: 90%;
    margin:0 auto;
    padding:20px;
}
header {
	width: 90%;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}

/* Headers */
h1 {
    font-size:2em;
}
h2 {
    font-size:1.8em;
}
.logo {
    background-color: #37addc;
    font:2.2em Arial;
    margin: 4px 20px 0 5px;
    padding:0;
    width:100%;
    color:#fff;
}

/* Navigation */
ul {
    list-style-type: none;
	text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #37addc;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
	text-decoration: uppercase;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #777;
}

li a.active {
    background-color: deepskyblue;
    color: white;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px 6px 6px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 900px) {
    .responsive {
		padding: 6px 6px 6px 6px;
		float: left;
		width: 24.99999%;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
		padding: 6px 6px 6px 6px;
		float: left;
		width: 31.99999%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
		padding: 6px 6px 6px 6px;
		float: left;
		width: 49.99999%;
    }
}

@media only screen and (max-width: 300px) {
    .responsive {
		padding: 6px 6px 6px 6px;
		float: left;
		width: 100%;
    }	
}

/* Forms */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #37addc;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: deepskyblue;
}

/* Footer */
footer {
    border-top:2px solid #ddd;
    color:#7a7a7a;
	text-align: center;
}
/* Misc */
.clear:after {
    content: "";
    display: table;
    clear: both;
}
